{% extends "base.html" %}
{% block content %}
<h1>Nouvel étudiant</h1>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Matricule</label>
    <input type="text" class="form-control" name="matricule" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Nom & Prénoms</label>
    <input type="text" class="form-control" name="name" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Classe</label>
    <input type="text" class="form-control" name="classe" placeholder="ISE1, ISE2, ISE3..." required>
  </div>
  <div class="mb-3">
    <label class="form-label">Téléphone</label>
    <input type="text" class="form-control" name="phone">
  </div>
  <button type="submit" class="btn btn-success">Enregistrer</button>
  <a href="{{ url_for('students_list') }}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}